<div class="container">
    <div class="row justify-content-center">
            <div class="col-12 col-md-10">
            <h2 class="page-title">LET'S GET CRACKING</h2>
            <h5 class="blog-page-subtitle">The blog of Wacky Crackups</h5>
        </div>
    </div>
    {{#each blogPosts}}
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 my-3 blog-post-preview">
                <h2>
                    <a class="wacky" href="/blog/posts/{{this.id}}/{{this.slug}}">{{{this.title.rendered}}}</a>
                </h2>
                <p><small>Posted on: {{dateFormat this.date "dddd, MMMM Do YYYY, h:mm:ss a"}} </small></p>
                <a href="/blog/posts/{{this.id}}/{{this.slug}}"> <img class="w-100" src="{{this.media_url}}"> </a>
                <p class="text-white my-3">{{{this.excerpt.rendered}}}</p>
                <a class="read-more-link" href="/blog/posts/{{this.id}}/{{this.slug}}">Read More...</a>
            </div>
        </div>
    {{/each}}
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{#if pagination.prev }}
                        <li class="page-item"><a class="page-link" href="/blog/?page={{pagination.prev}}">Prev</a></li>
                    {{/if}}
                    <li class="page-item"><a class="page-link" href="/blog/?page={{pagination.current}}">{{pagination.current}}</a></li>
                    {{#if pagination.next}}
                        <li class="page-item"><a class="page-link" href="/blog/?page={{pagination.next}}">Next</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>
