<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h1>{{title}}</h1>
        </div>
    </div>
    {{#each blogPosts}}
        <div class="row justify-content-center">
            <div class="col-md-7 my-3 whitebox">
                <h4>
                    <a class="wacky" href="/blog/posts/{{this.id}}/{{this.slug}}">{{{this.title.rendered}}}</a>
                </h4>
                <img class="w-100 fit" src="{{this.media_url}}">
                <p class="text-white my-3">{{{this.excerpt.rendered}}}</p>
            </div>
        </div>
    {{/each}}
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {{#if pagination.prev }}
                        <li class="page-item"><a class="page-link" href="/blog/?page={{pagination.prev}}">Prev</a></li>
                    {{/if}}
                    <li class="page-item"><a class="page-link" href="/blog/?page={{pagination.current}}">{{pagination.current}}</a></li>
                    {{#if pagination.next}}
                        <li class="page-item"><a class="page-link" href="/blog/?page={{pagination.next}}">Next</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</div>


